name: Run Cypress Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4   # updated to v4

      - name: Setup Node.js
        uses: actions/setup-node@v4 # updated to v4
        with:
          # Pin Node.js to avoid loader error with Cypress 15.10.0
          node-version: 18.18.0

      - name: Install dependencies
        run: npm install

      - name: Run Cypress tests
        run: npx cypress run

      - name: Upload test report
        uses: actions/upload-artifact@v4 # updated to v4
        with:
          name: cypress-report
          path: cypress/reports
